<div>
	<div><u>id</u>: {{entry.id}}</div>
	<div><u>name</u>: {{entry.data.name}}</div>


	<!--<div style="min-height: 30px;">-->
	<div>
		<u>tags</u>:
		{{entry.data.tags.join(', ')}}
		<!--<mat-chip-list>-->
			<!--<mat-chip *ngFor="let tag of entry.data.tags">{{tag}}</mat-chip>-->
		<!--</mat-chip-list>-->
	</div>


	<div>
		<u>notes</u>:
		{{entry.data.note}}
	</div>
	<div><u>date</u>: {{moment.unix(entry.data.unixTimestamp).format('MM/DD/YYYY')}}</div>
	<div><u>location</u>:
		<!--<app-map-location-->
			<!--*ngIf="entry.data.location as loc"-->
			<!--[location]="loc"-->
			<!--[locationLocked]="true"-->
		<!--&gt;</app-map-location>-->

		<span *ngIf="entry.data.location as loc">
			{{loc.latitude}},{{loc.longitude}}
		</span>
	</div>
	<div>
		<button (click)="editClicked(entry)" class="mat-raised-button mat-mini-fab"><i class="fas fa-pencil-alt"></i></button>
	</div>
</div>