<app-header
	[back]="{name: 'Browse', path: '/browse'}"
></app-header>
<app-entry-editor
	[entryDataOrPromise]="entryDataPromise"
></app-entry-editor>
<div class="vertical-spacer"></div>
<div>
	<button class="mat-button mat-raised-button mat-warn" (click)="delete()">
		<app-button-icon icon="trash-alt" [inProgress]="deleteInProgress"></app-button-icon>
		Delete
	</button>
	<span class="float-right">
		<button class="mat-button mat-raised-button" (click)="cancel()"><i class="fas fa-ban"></i>&nbsp;&nbsp;Cancel</button>
		<span class="horizontal-spacer"></span>
		<button class="mat-button mat-raised-button mat-primary" (click)="save()">
			<app-button-icon icon="check" [inProgress]="saveInProgress"></app-button-icon>
			Save
		</button>
	</span>
</div>