<div>
	<mat-form-field class="full-width">
		<input
			matInput
			name="search"
			placeholder="[algoliaIconHere] Search"
			[formControl]="searchTextCtrl"
		/>
	</mat-form-field>
</div>
<div>
	<app-map-browse
		(select)="onMapSelect($event)"
		(bounds)="onMapBoundsChange($event)"
	></app-map-browse>
	<mat-radio-group
		[(ngModel)]="mapMode"
		(change)="onMapModeChange()"
	>
		<mat-radio-button
			class="radioButton"
			*ngFor="let option of mapModeOptions"
			[value]="option.key"
		>
			{{option.name}}
		</mat-radio-button>
	</mat-radio-group>
	<br/>
</div>
<div>
	<app-date-range-slider
		(change)="onDateRangeChange($event)"
	></app-date-range-slider>
</div>
<br/>
<div>Results:</div>
<br/>
<div *ngFor="let entry of displayEntries$ | async">
	<app-entry-view
		[entry]="entry"
	></app-entry-view>
	<br/>
</div>
<div *ngIf="(displayEntries$ | async)?.length === 0">
	No entries found.
</div>
